name: Code coverage summary

on:
  push:
    branches: [main, master]
  pull_request:

permissions:
  pull-requests: write # for commenting on PR
  contents: write

jobs:
  job1:
    name: Calculate coverage
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout head branch
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            dragosmg/covr2gh
          needs: coverage

      - name: Calculate head coverage & build badge
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          head_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(head_cov)

          saveRDS(head_cov, "head_cov.RDS")

          coverage_perc <- covr::percent_coverage(head_cov)

          print(
            glue::glue("Coverage is: {round(coverage_perc)}%.")
          )

          coverage_badge <- covr2gh::generate_badge(coverage_perc)

          writeLines(coverage_badge, "coverage_badge.svg")

      - name: Upload coverage result and badge for head
        uses: actions/upload-artifact@v6
        with:
          name: head_coverage
          path: |
            head_cov.RDS
            coverage_badge.svg
          retention-days: 5

      - name: Configure git identity
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"

      - name: Initialise storage branch
        run: |
          # fetch updates, switch to the branch (creating it if needed)
          # and rebase on the remote branch
          git fetch origin covr2gh-storage || true
          git switch covr2gh-storage || git checkout --orphan covr2gh-storage
          git pull --rebase origin covr2gh-storage || true

          # Ensure that the bare minimum components exist in the branch
          mkdir -p badges
          touch README.md badges/.gitkeep

          # Copy necessary files and folders to a temporary location
          mkdir -p /tmp/${{ github.sha }}
          echo "Copying badges/ to /tmp/${{ github.sha }}"
          cp -r .git README.md badges /tmp/${{ github.sha }}

          # Remove everything else
          # Attribution: https://unix.stackexchange.com/a/77313
          rm -rf ..?* .[!.]* *

          # Restore files from the temporary location
          echo "Copying badges/ from /tmp/${{ github.sha }}"
          cp -r /tmp/${{ github.sha }}/.git /tmp/${{ github.sha }}/README.md /tmp/${{ github.sha }}/badges .
          rm -rf /tmp/${{ github.sha }}
          git add --all -f
          git commit -m "Update storage branch: $(date)" || true
          git push -u origin covr2gh-storage
        shell: bash

      - name: Commit badge
        working-directory: badges
        run: |
          # git switch covr2gh-storage || true
          git pull origin covr2gh-storage

          mkdir -p "badges/${{ github.head_ref }}_${{ github.sha}}"
          cp "head_coverage/coverage_badge.svg" "badges/${{ github.head_ref }}_${{ github.sha}}/coverage_badge.svg"

          git add "badges/${{ github.head_ref }}_${{ github.sha }}/coverage_badge.svg"

          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"

          git commit -m "Add/Update badge: ${{ github.sha }}" || true
          git push
        shell: bash

      - name: Checkout base / target branch
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Re-install R dependencies  # in case there are any differences in deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Calculate base coverage
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          base_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(base_cov)

          saveRDS(base_cov, "base_cov.RDS")

      - name: Upload coverage result for base
        uses: actions/upload-artifact@v6
        with:
          name: base_coverage
          path: base_cov.RDS
          retention-days: 5

  job2:
    name: Post coverage summary comment
    needs: job1
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          pak-version: stable
          packages: |
            any::covr
            github::dragosmg/covr2gh
            any::stringr

      - name: Download coverage results
        uses: actions/download-artifact@v7

      - name: Print coverage
        run: |
          library(covr) # for the print method
          head_coverage <- readRDS("head_coverage/head_cov.RDS")
          print(head_coverage)
          base_coverage <- readRDS("base_coverage/base_cov.RDS")
          print(base_coverage)

          coverage_badge <- head_coverage |>
            covr::percent_coverage() |>
            covr2gh::generate_badge()

          writeLines(coverage_badge, "coverage_badge.svg")

          github_comment <- covr2gh::compose_comment(
            head_coverage = head_coverage,
            base_coverage = base_coverage,
            repo = "${{ github.repository }}",
            pr_number = ${{ github.event.pull_request.number }}
          )

          comment_id <- covr2gh::get_comment_id(
            repo = "${{ github.repository }}",
            pr_number = ${{ github.event.pull_request.number }}
          )

          glue::glue("Comment ID is: {comment_id}", .null = "`NULL`") |>
            print()

          covr2gh::post_comment(
            github_comment,
            repo = "${{ github.repository }}",
            pr_number = ${{ github.event.pull_request.number }},
            comment_id = comment_id
          )
        shell: Rscript {0}
