name: Share data between jobs

on: [push]

jobs:
  job_1:
    name: Calculate coverage
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout head branch
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            github::dragosmg/covr2md
            any::stringr
            any::fs
          needs: coverage

      - name: Calculate head coverage
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          head_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(head_cov)

          saveRDS(head_cov, "head_cov.RDS")

      - name: Upload coverage result for head
        uses: actions/upload-artifact@v4
        with:
          name: head_coverage
          path: head_cov.RDS

      - name: Checkout base / target branch
        uses: actions/checkout@v6
        with:
          ref: main


          # TODO re-install r dependencies. just in case there are any changes
      - name: Calculate base coverage
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          base_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(base_cov)

          saveRDS(base_cov, "base_cov.RDS")

      - name: Upload coverage result for base
        uses: actions/upload-artifact@v4
        with:
          name: base_coverage
          path: base_cov.RDS

  job_2:
    name: Print total head coverage
    needs: job_1
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install {covr2md}
        shell: Rscript {0}
        run: |
          pak::pkg_install("dragosmg/covr2md")
      - name: Download head coverage result
        uses: actions/download-artifact@v5
        with:
          path: .

      - name: Print coverage
        run: |
          library(covr)
          head_coverage <- readRDS("head_coverage/head_cov.RDS")
          print(head_coverage)
          base_coverage <- readRDS("base_coverage/base_cov.RDS")
          print(base_coverage)
        shell: Rscript {0}
    #   - name: Upload math result for job 2
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: homework_final
    #       path: math-homework.txt

#   job_3:
#     name: Display results
#     needs: job_2
#     runs-on: macOS-latest
#     steps:
#       - name: Download math result for job 2
#         uses: actions/download-artifact@v5
#         with:
#           name: homework_final
#       - name: Print the final result
#         shell: bash
#         run: |
#           value=`cat math-homework.txt`
#           echo The result is $value
