name: Coverage summary

on:
  push:
    branches: [main, master]
  pull_request:

permissions:
  pull-requests: write # for commenting on PR
  contents: write # for adding the badges to the covr2gh-storage branch

jobs:
  covr2gh-on-pr:
    name: Assess coverage & post comment
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout head branch
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            dragosmg/covr2gh
          needs: coverage

      - name: Calculate head coverage & make badge
        run: |
          temp_path <- normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/")
          pkg_path <- file.path(temp_path, "package_head")
          head_cov_path <- file.path(temp_path, "head_cov.RDS")
          badge_path <- file.path(temp_path, "coverage_badge.svg")

          head_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = pkg_path
          )

          saveRDS(head_cov, head_cov_path)

          coverage_badge <- head_cov |>
            covr::percent_coverage() |>
            covr2gh::generate_badge()

          writeLines(coverage_badge, badge_path)
        shell: Rscript {0}

      - name: Upload coverage result for head
        uses: actions/upload-artifact@v6
        with:
          name: head_coverage
          path: ${{ runner.temp }}/head_cov.RDS
          retention-days: 5

      - name: Configure git identity
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"

      - name: Initialise storage branch
        run: |
          # fetch & switch | create the covr2gh-storage branch
          # rebase if needed
          git fetch origin covr2gh-storage || true
          git switch covr2gh-storage || git checkout --orphan covr2gh-storage
          git pull --rebase origin covr2gh-storage || true

          # Ensure that the bare minimum components exist in the branch
          mkdir -p badges
          touch README.md badges/.gitkeep

          # Copy necessary files and folders to a temporary location
          mkdir -p /tmp/${{ github.sha }}
          echo "Copying badges/ to /tmp/${{ github.sha }}"
          cp -r .git README.md badges /tmp/${{ github.sha }}

          # Remove everything else
          # Attribution: https://unix.stackexchange.com/a/77313
          rm -rf ..?* .[!.]* *

          # Restore files from the temporary location
          echo "Copying badges/ from /tmp/${{ github.sha }}"
          cp -r /tmp/${{ github.sha }}/.git /tmp/${{ github.sha }}/README.md /tmp/${{ github.sha }}/badges .
          rm -rf /tmp/${{ github.sha }}
          git add --all -f
          git commit -m "Update storage branch: $( + '%Y-%m-%d %H:%M')" || true
          git push -u origin covr2gh-storage
        shell: bash

      - name: Commit badge
        working-directory: badges
        run: |
          # already on the covr2gh-storage branch
          # so no need for checkout

          mkdir -p "${{ github.head_ref }}"
          cp "$RUNNER_TEMP/coverage_badge.svg" "${{ github.head_ref }}/coverage_badge.svg"

          git add "${{ github.head_ref }}/coverage_badge.svg"

          git commit -m "Add/Update badge: ${{ github.sha }}" || true
          git push
        shell: bash

      - name: Checkout base / target branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.base_ref }}

      - name: Re-install R dependencies  # in case there are any differences in deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            dragosmg/covr2gh
          needs: coverage

      - name: Calculate base coverage
        run: |
          temp_path <- normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/")
          pkg_path <- file.path(temp_path, "package_base")
          base_cov_path <- file.path(temp_path, "base_cov.RDS")

          base_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = pkg_path
          )

          saveRDS(base_cov, base_cov_path)
        shell: Rscript {0}

      - name: Upload coverage result for base
        uses: actions/upload-artifact@v6
        with:
          name: base_coverage
          path: ${{ runner.temp }}/base_cov.RDS
          retention-days: 5

      - name: Post coverage comment
        run: |
          # paths
          temp_path <- normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/")
          head_cov_path <- file.path(temp_path, "head_cov.RDS")
          base_cov_path <- file.path(temp_path, "base_cov.RDS")
          comment_path <- file.path(temp_path, "comment.md")

          head_coverage <- readRDS(head_cov_path)
          base_coverage <- readRDS(base_cov_path)

          comment <- covr2gh::compose_comment(
            head_coverage = head_coverage,
            base_coverage = base_coverage,
            repo = "${{ github.repository }}",
            pr_number = ${{ github.event.pull_request.number }}
          )

          covr2gh::post_comment(
            comment,
            repo = "${{ github.repository }}",
            pr_number = ${{ github.event.pull_request.number }}
          )

          writeLines(comment, comment_path)
        shell: Rscript {0}

      - name: Job summary
        run: |
          cat "$RUNNER_TEMP/comment.md" >> $GITHUB_STEP_SUMMARY

  covr2gh-on-push:
    name: Coverage & badge for main
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            dragosmg/covr2gh
          needs: coverage

      - name: Calculate main coverage
        run: |
          temp_path <- normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/")
          pkg_path <- file.path(temp_path, "package_base")
          main_cov_path <- file.path(temp_path, "main_cov.RDS")

          main_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = pkg_path
          )

          perc_cov <- round(covr::percent_coverage(main_cov))
          perc_cov_str <- paste0("PERC_COV=", perc_cov, "%\n")

          cat(perc_cov_str, file = Sys.getenv("GITHUB_ENV"), append = TRUE)
        shell: Rscript {0}

      - name: Use env var
        run: |
          echo "Coverage for main is: $PERC_COV"
