name: Code coverage summary

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  job_1:
    name: Calculate coverage
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout head branch
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            github::dragosmg/covr2md
            any::stringr
            any::fs
          needs: coverage

      - name: Calculate head coverage
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          head_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(head_cov)

          saveRDS(head_cov, "head_cov.RDS")

      - name: Upload coverage result for head
        uses: actions/upload-artifact@v6
        with:
          name: head_coverage
          path: head_cov.RDS

      - name: Checkout base / target branch
        uses: actions/checkout@v6
        with:
          ref: main


          # TODO re-install r dependencies. just in case there are any changes
      - name: Calculate base coverage
        shell: Rscript {0}
        run: |
          file_path <- file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")

          base_cov <- covr::package_coverage(
            quiet = FALSE,
            clean = TRUE,
            install_path = file_path
          )

          print(base_cov)

          saveRDS(base_cov, "base_cov.RDS")

      - name: Upload coverage result for base
        uses: actions/upload-artifact@v6
        with:
          name: base_coverage
          path: base_cov.RDS

  job_2:
    name: Print total head coverage
    needs: job_1
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          pak-version: stable
          packages: |
            any::covr
            github::dragosmg/covr2md
            any::stringr

      - name: Download head coverage result
        uses: actions/download-artifact@v7

      - name: Print coverage
        run: |
          library(covr)
          head_coverage <- readRDS("head_coverage/head_cov.RDS")
          print(head_coverage)
          base_coverage <- readRDS("base_coverage/base_cov.RDS")
          print(base_coverage)

          owner_repo <- stringr::str_split_1("${{ github.repository }}", "/")
          print(owner_repo[[1]])
          print(owner_repo[[2]])

          github_comment <- covr2md::compose_comment(
            head_coverage = head_coverage,
            base_coverage = base_coverage,
            owner = owner_repo[[1]],
            repo = owner_repo[[2]],
            pr_number = ${{ github.event.pull_request.number }}
          )

          comment_id <- covr2md:::get_comment_id(
            owner = owner_repo[[1]],
            repo = owner_repo[[2]],
            pr_number = ${{ github.event.pull_request.number }}
          )

          print(comment_id)

          post_comment(
            github_comment,
            owner = owner_repo[[1]],
            repo = owner_repo[[2]],
            pr_number = ${{ github.event.pull_request.number }},
            comment_id = comment_id
          )
        shell: Rscript {0}
